<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="../assets/face/Layout.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/face/Layout.png">
    <link rel="icon" href="../assets/face/Layout.png" sizes="128x128">

    <!-- style -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/prism.css">

    <!-- script -->
    <link rel="stylesheet" href="assets/js/prism.js">
</head>

<body>
  

</body>

</html>